{{#isNested}}
testFunctions := []func(types.ValidationInput) []types.ValidationOutput{
	{{#names}}
	{{name}},
	{{/names}}
}

allResults := []types.ValidationOutput{}
for _, fn := range testFunctions {
	subResult := fn(input)
	allResults = append(allResults, subResult...)
}
subResults = allResults
valid = true
for _, r := range subResults {
	if !r.Valid {
		valid = false
		break
	}
}

{{/isNested}}

{{^isNested}}

{{#isStateFull}}
validate := true
if input.Config.StateFullValidations {
	validate = {{{returnStatement}}}
}
{{/isStateFull}}

{{^isStateFull}}
validate := {{{returnStatement}}}
{{/isStateFull}}

if !validate {
	return []types.ValidationOutput{
		{
			TestName:    "{{testName}}",
			Valid:       false,
			Code:        {{errorCode}},
			Description: `{{{errorDescription}}}`,
			DebugInfo: map[string]interface{}{
				"fed_config": `{{{TEST_OBJECT}}}`,
			},
		},
	}
}

{{/isNested}}
