function {{name}}(input: validationInput): validationOutput {

    if(input.config._skipTestsDict && input.config._skipTestsDict["{{testName}}"]){
        return [];
    }

    const scope = payloadUtils.getJsonPath(input.payload,"{{{scopePath}}}");
    let subResults: validationOutput = [];
    let valid = true;
    for(const testObj of scope){
        if(!testObj || typeof testObj !== 'object') continue;
        testObj._EXTERNAL = input.externalData;
        {{#variables}}
        const {{name}} = {{{value}}}
        {{/variables}}
        
        {{#hasContinue}}
            const skipCheck = {{{skipCheckStatement}}};
            if(skipCheck) continue;
        {{/hasContinue}}

        {{{validationCode}}}
        // delete testObj._EXTERNAL;
    }
    return [{
        testName: "{{testName}}",
        valid: valid,
        code: valid ? {{successCode}} : {{errorCode}},
        _debugInfo: {
            fedConfig: 
`
{{{TEST_OBJECT}}}
`,
        }
    },...subResults];
}