
{{#isNested}}

{{{nestedFunctions}}}

const testFunctions: testFunctionArray = [
    {{#names}}
    {{name}},
    {{/names}}
];

let allResults : validationOutput = [];
for (const fn of testFunctions) {
    const subResult = fn(input);
    allResults  = [...allResults , ...subResult];
}
subResults = allResults ;
valid = subResults.every((r) => r.valid);

{{/isNested}}

{{^isNested}}
const validate = {{{returnStatement}}}

if(!validate){
    delete testObj._EXTERNAL;
    return [{
        testName: "{{testName}}",
        valid: false,
        code: {{errorCode}},
        description: `{{{errorDescription}}}`,
        _debugInfo: {
            fedConfig: 
`
{{{TEST_OBJECT}}}
`,
        }
    }]
}
{{/isNested}}
