var {{name}} = func (input validationutils.ValidationInput) ([]validationutils.ValidationOutput, error) {

    if input.Config.SkipTestsDict != nil {
        if _, skip := input.Config.SkipTestsDict["{{name}}"]; skip {
            return []validationutils.ValidationOutput{}, nil
        }
    }

    scope := validationutils.GetJsonPath(input.Payload,"{{{scopePath}}}",true)
    
    subResults := make([]validationutils.ValidationOutput, 0)
    valid := true
    configureDebugInfo := ""
    for _, testObjMap := range scope {
        validationutils.UnusedFunction(testObjMap)
        
        {{#variables}}
        {{name}} := {{{value}}}
        validationutils.UnusedFunction({{name}})
        {{/variables}}

        {{#hasContinue}}
        skipCheck := {{{skipCheckStatement}}}
        if( skipCheck ) {
            continue
        }
        {{/hasContinue}}

        {{{validationCode}}}
    }
    
    result := validationutils.ValidationOutput{
        TestName: "{{name}}",
        Valid: valid,
        Code: 0,
        DebugInfo: &validationutils.DebugInfo{
            FedConfig: configureDebugInfo,
        },
    }

    if valid {
		result.Code = {{successCode}}
	} else {
		result.Code = {{errorCode}}
	}

	results := make([]validationutils.ValidationOutput, 0, len(subResults)+1)
	results = append(results, result)
	results = append(results, subResults...)

	return results,nil
}