var {{name}} = func (input validationutils.ValidationInput) ([]validationutils.ValidationOutput, error) {
    scope := validationutils.GetJsonPath(input.Payload,"{{{scopePath}}}",true)
    
    subResults := make([]validationutils.ValidationOutput, 0)
    valid := true
    configureDebugInfo := ""
    for _, testObjMap := range scope {
        validationutils.UnusedFunction(testObjMap)
        // testObjMap["_EXTERNAL"] = validationutils.DeepCloneJSON(input.ExternalData)
        
        {{#variables}}
        {{name}} := {{{value}}}
        validationutils.UnusedFunction({{name}})
        {{/variables}}

        {{#hasContinue}}
        skipCheck := {{{skipCheckStatement}}}
        if( skipCheck ) {
            continue
        }
        {{/hasContinue}}

        {{{validationCode}}}

        // delete(testObjMap, "_EXTERNAL")
    }
    
    result := validationutils.ValidationOutput{
        TestName: "{{name}}",
        Valid: valid,
        Code: 0,
        DebugInfo: &validationutils.DebugInfo{
            FedConfig: configureDebugInfo,
        },
    }

    if valid {
		result.Code = {{successCode}}
	} else {
		result.Code = {{errorCode}}
	}

	results := make([]validationutils.ValidationOutput, 0, len(subResults)+1)
	results = append(results, result)
	results = append(results, subResults...)

	return results,nil
}